<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="public/css/index.css" />
    <%- include('partials/linkhead') %>
    <title>Register</title>
  </head>
  <body>
    <%- include('partials/nav') %>
    <div class="container">
      <div class="login-form">
        <h2>Register</h2>
        <form action="/register" method="post">
          <div class="field">
            <label for="user"> Username</label>
            <input
              type="text"
              name="user"
              id="user"
              placeholder="User"
              required
            />
          </div>
          <div class="field">
            <label for="fulluser"> Fullname</label>
            <input
              type="text"
              name="fulluser"
              id="fulluser"
              placeholder="Fullname"
              required
            />
          </div>
          <div class="field">
            <label for="rol"> Rol</label>
            <select name="rol" id="rol">
              <option value="admin" selected>Admin</option>
              <option value="data entry">Data Entry</option>
            </select>
          </div>
          <div class="field">
            <label for="password"> Password </label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
            />
          </div>
          <div class="field">
            <label for="passwordR"> Password </label>
            <input
              type="password"
              name="passwordR"
              id="passwordR"
              placeholder="Repeat Password"
              required
            />
          </div>
          <div class="field" style="display: inline-block">
            <a href="/" class="btn-cancel"> Cancel </a>
            <input type="submit" class="btn-register" value="Register" />
          </div>
        </form>
        <a href="login" class="btn-login"> Login </a>
        <a href="/"> Home </a>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <%- include('partials/linkfoot') %>

    <!-- alert -->
    <% if(typeof alert != "undefined" ) { %>
    <script>
      Swal.fire({
        title: "<%= alertTitle %>",
        text: "<%= alertMessage %>",
        icon: "<%= alertIcon %>",
        showConfirmButton: false,
        timer: 1500,
      }).then(() => {
        window.location = "<%= route %>";
      });
    </script>
    <%} %>
  </body>
</html>
